<br />

<% @places.each do |place| %>

  <div class="places-box col-10 offset-1">
    <h1><%= place.name %><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %><br />
  </div>

  <hr />

<% end %>